---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="grid grid-cols-3 gap-4">
        <div class="text-right">Job</div>
        <div class="col-span-2 bg-black text-white text-center">SERVING</div>
        <div class="col-span-2 text-right"></div>
        <div class="..."></div>
        <div class="..."></div>
        <div class="col-span-2 ..."></div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    border-left: 1px black solid;
    border-right: 1px black solid;
  }
</style>
